Release
release
Debug
debug
obj
objfre
objchk
*.patch

#for Visual DSP++
*.mak
*.pcf


# for VS-2013
*.sdf
*.opensdf
*.suo
*.filters
*.user
*.ipch

# for doxygen
doxygen
/usbz/test/usbztest.exe


# for driver
/windrvz/020608_forMS.zip
/windrvz/old
Win7Debug
Win7Release
Win8Debug
Win8Release
Win8.1Debug
Win8.1Release
x64



/project/bf70x/bf707_silk/.settings/SystemAddinMarkers.prefs
/sdcz/ref/fs_sdc_config.c
/sdcz/ref/fs_sdc_config.h
/sdcz/ref/fs_sdc_issue.c
/sdcz/ref/fs_sdc_issue.h
/sdcz/ref/fs_sdphyfmt.c
/sdcz/ref/fs_sdphyfmt.h
/sdcz/ref/fs_TDS701.c
/sdcz/ref/fs_TDS701.h
/sdcz/ref/sd_cmd.c
/sdcz/ref/sd_cmd.h
/sdcz/ref/sd_cmd_esc2_es.h
/sdcz/ref/sd_cmd_p.c
/sdcz/ref/sd_cmd_p.h
/sdcz/ref/sd_drv.c
/sdcz/ref/sd_drv_msc.h
/sdcz/ref/sd_drv_p.h
/project/clr/vusbz/*.psess
